<section class="welcome">
	
	<h3>Welcome to TwilioTakeaway</h3>
	
	<form action="/" method="post">

		<input type="text" name="client"    placeholder="Name">
		<input type="text" name="telephone" placeholder="Telephone number">

		<button type="submit">Submit</button>

	</form>
</section>