<section>
	
	<h1>Welcome to TwilioTakeaway</h1>
	
	<form action="/" method="post">
			
		<input type="text" name="client"    placeholder="Your name">
		<input type="text" name="telephone" placeholder="Your telephone number">
		
		<input type="submit" value="Submit">
	</form>

</section>