<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TwilioTakeaway</title>
</head>
<body>
	
	<div class="wrapper">
			
		<%= yield %>

	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/script.js"></script>
</body>
</html>
